In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Premotorbike.csv")

In [3]:
dataset

,price,mileage,power,make_model,date,fuel,gear,offer_type
0,23990,150,218.000000,Honda,03/2020,Gasoline,Manual,Demonstration
1,7500,2871,90.000000,BMW F 800 GT,09/2018,Gasoline,Manual,Used
2,800,1700,3.000000,Nova Motors Retro Star,10/2019,Gasoline,Manual,Used
3,14990,24345,206.157598,Aprilia RSV4,03/2016,Gasoline,Manual,Used
4,6200,25000,128.000000,Kawasaki Ninja ZX-6R,08/2009,Gasoline,Manual,Used
...,...,...,...,...,...,...,...,...
29080,36500,7000,90.000000,Harley-Davidson Road Glide,09/2019,Gasoline,Manual,Used
29081,17300,10592,125.000000,BMW R 1200 RT,04/2018,Gasoline,Manual,Used
29082,8500,29000,54.000000,Harley-Davidson Iron 883,05/2004,Gasoline,Manual,Used
29083,8350,11500,56.000000,Triumph Bonneville T100,05/2018,Gasoline,Manual,Used
29084,8500,19000,46.000000,Yamaha TMAX 530,07/2018,Gasoline,Automatic,Used

In [4]:
dataset.isnull().sum()

price         0
mileage       0
power         0
make_model    0
date          0
fuel          0
gear          0
offer_type    0
dtype: int64

In [5]:
dataset.cov()
#[price,mileage]=2.674[positive Covariance]
#[price,power]=-4.351[negative Covariance]

                price       mileage         power
price    2.824040e+13  2.674166e+10 -4.351313e+06
mileage  2.674166e+10  5.083757e+10 -1.276479e+05
power   -4.351313e+06 -1.276479e+05  2.887307e+07

In [6]:
dataset.corr()
#[price,mileage]=0.02[positive correlation]

            price   mileage     power
price    1.000000  0.022318 -0.000152
mileage  0.022318  1.000000 -0.000105
power   -0.000152 -0.000105  1.000000

In [7]:
from scipy.stats import ttest_rel
dataset=dataset.dropna()
v = dataset[dataset['gear']=='Manual']['price']
s= dataset[dataset['gear']=='Manual']['mileage']
ttest_rel(v, s)

Ttest_relResult(statistic=0.9712768455848271, pvalue=0.33141918004489834)

In [8]:
##p<0.05 Reject Null Hypothesis. here pvalue is 0.24 so Accept Null Hypothesis.There is no significant difference b/w price and mileage

In [9]:
from scipy.stats import ttest_rel
dataset=dataset.dropna()
v = dataset[dataset['gear']=='Manual']['price']
s= dataset[dataset['gear']=='Manual']['power']
ttest_rel(v, s)

Ttest_relResult(statistic=1.6568035135324832, pvalue=0.09757088339588627)

In [10]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
v= dataset[dataset['gear']=='Manual']['price']
s= dataset[dataset['gear']=='Automatic']['price']
ttest_ind(v,s)

Ttest_indResult(statistic=0.3668630623384533, pvalue=0.7137238560062662)

In [11]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
v= dataset[dataset['gear']=='Manual']['mileage']
s= dataset[dataset['gear']=='Automatic']['mileage']
ttest_ind(v,s)

Ttest_indResult(statistic=2.4020844204782024, pvalue=0.016308226816880805)

In [12]:
# p<0.05 Reject Null Hypothesis. Here pvalue 0.00 There is a significant changes b/w Manualgear-mileage and Automaticgear-mileage

In [13]:
import scipy.stats as stats
stats.f_oneway(dataset['price'],dataset['mileage'],dataset['power'])

F_onewayResult(statistic=2.137245765599244, pvalue=0.11798551512090644)

In [14]:
#p value is p<0.05,Reject Null Hypothesis
#Ho=There is no significant difference between coloumns
#H1=There is a significant difference between coloumns

In [15]:
#Here p value is 0.51 and it is greater than norm=Accept Null hypothesis(There is no significant difference between columns)